        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('<?= base_url()?>assets/img/home-bg.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Harriken Blog</h1>
                            <hr class="small">
                            <span class="subheading">JOIN US IN THE FOODTASTIC REVOLUTION</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!--                // customized by me-->
                    <?php foreach($posts as $post){ ?>
                    <div class="post-preview">
                        <a href="<?= base_url()?>index.php/blog/post/<?= $post['id']; ?>">
                            <h2 class="post-title">
                                <?= $post['title']; ?>
                            </h2>
                            <h3 class="post-subtitle">
                                <?= substr(strip_tags($post['description']), 0, 150).'...';?>
                            </h3>
                        </a>
                        <p class="post-meta">Posted by <a href="#"><?= $post['fullname']; ?></a> on <?= date("d M, Y",strtotime($post['created_at'])); ?></p>
                    </div>
                    <hr>
                    <?php } ?>
                    <!-- end customized --> 
                </div>
            </div>
        </div>

        <hr>

       <!-- The Modal -->
  
        <div id="myModal" class="modal" role="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">x</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Login to Harriken Blog</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="well forpad">
                                
                                <a href="<?= base_url()?>index.php/fblogin" class="btn btn-default btn-block btn-ownfb">Login with Facebook</a>
                                
                                <div style="text-align: center; margin-top: 40px;">
                                        <h4 style="text-transform: capitalize;"> ALREADY REGISTERED ??? </h4>
                                       
                                    </div>
                                
                                <form id="loginForm" method="POST" action="<?= base_url()?>user/login" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="email" class="control-label">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" value="" required="" title="Please enter you email" placeholder="example@gmail.com">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                        <span class="help-block"></span>
                                    </div>
                                    <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
<!--                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="remember" id="remember"> Remember login
                                        </label>
                                        <p class="help-block">(if this is a private computer)</p>
                                    </div>-->
                                    <button type="submit" class="btn btn-success btn-block btn-harriken">Login with Harriken</button>
                                    
                                  
<!--                                <button type="submit" class="btn btn-success btn-block btn-ownfb">Login with Facebook </button>-->
                                
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-6">
                             <div class="well forpad">
<!--                                <form id="loginForm" method="POST" action="<?= base_url()?>user/register" novalidate="novalidate">
                                    
                                    <div style="text-align: center; margin-top: 0px;">
                                        <h4 style="text-transform: capitalize;"> NOT YET REGISTERED !!!! </h4>
                                       
                                    </div>-->

                                    
<!--                                    
                                    <div class="form-group">
                                        <label for="fullname" class="control-label">Full Name</label>
                                        <input type="text" class="form-control" id="fullname" name="fullname" value="" required="">
                                        <span class="help-block"></span>
                                    </div>-->

                                    

<!--                                    <div class="form-group">
                                        <label for="lname" class="control-label">Last Name</label>
                                        <input type="text" class="form-control" id="lname" name="lname" value="" required="">
                                        <span class="help-block"></span>
                                    </div>-->
<!--                                    <div class="form-group">
                                        <label for="username" class="control-label">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" value="" required="" title="Please enter you email" placeholder="example@gmail.com">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="control-label">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" value="" required="" title="Please enter your password">
                                        <span class="help-block"></span>
                                    </div>
                                      <div class="form-group">
                                        <label for="password" class="control-label"> Confirm Password</label>
                                        <input type="password" class="form-control" id="password" name="cpassword" value="" required="" title="Please retype your password">
                                        <span class="help-block"></span>
                                    </div>
                                  
                                   
                                    <button type="submit" class="btn btn-success btn-block btn-harriken">Sign Up</button>
                     
                                </form>-->

                                <div class="panel-body">
                                    <?php $attributes = array("name" => "registrationform");
                                    echo form_open("user/register", $attributes);?>
        <!--				<div class="form-group">
                                            <label for="name">First Name</label>
                                            <input class="form-control" name="fname" placeholder="Your First Name" type="text" value="<?php echo set_value('fname'); ?>" />
                                            <span class="text-danger"><?php echo form_error('fname'); ?></span>
                                    </div>

                                    <div class="form-group">
                                            <label for="name">Last Name</label>
                                            <input class="form-control" name="lname" placeholder="Last Name" type="text" value="<?php echo set_value('lname'); ?>" />
                                            <span class="text-danger"><?php echo form_error('lname'); ?></span>
                                    </div>-->
                                                               <div class="form-group">
                                            <label for="fullname">Full Name</label>
                                            <input class="form-control" name="fullname" placeholder="Your Full Name" type="text" value="<?php echo set_value('fullname'); ?>" />
                                            <span class="text-danger"><?php echo form_error('fullname'); ?></span>
                                    </div>

                                    <div class="form-group">
                                            <label for="email">Email ID</label>
                                            <input class="form-control" name="email" placeholder="Email-ID" type="text" value="<?php echo set_value('email'); ?>" />
                                            <span class="text-danger"><?php echo form_error('email'); ?></span>
                                    </div>

                                    <div class="form-group">
                                            <label for="subject">Password</label>
                                            <input class="form-control" name="password" placeholder="Password" type="password" />
                                            <span class="text-danger"><?php echo form_error('password'); ?></span>
                                    </div>

                                    <div class="form-group">
                                            <label for="subject">Confirm Password</label>
                                            <input class="form-control" name="cpassword" placeholder="Confirm Password" type="password" />
                                            <span class="text-danger"><?php echo form_error('cpassword'); ?></span>
                                    </div>

                                    <div class="form-group">
                                            <button name="submit" type="submit" class="btn btn-default">Signup</button>
                                            <button name="cancel" type="reset" class="btn btn-default">Cancel</button>
                                    </div>
                                    <?php echo form_close(); ?>
                                    <?php echo $this->session->flashdata('msg'); ?>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 

 
<!-- end modal -->